<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
     <add name="CATALOGO.Properties.Settings.Conexion" connectionString="http://192.168.1.49/WebAPI_BM/api" />
       <!--<add name="CATALOGO.Properties.Settings.Conexion" connectionString="http://localhost/WebAPI_BM/api" />-->
      <!--<add name="CATALOGO.Properties.Settings.Conexion" connectionString="http://localhost:58391/api" />-->
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>